<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="1800">

<properties>
    <property name="LOG_HOME">${logger.rootdir}</property>
</properties>


<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level [%thread] %class.%L - %msg%n}{FATAL=Bright Magenta, ERROR=Bright Red, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Black, TRACE=Bright White}" />
        <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %class.%L - %msg%n" />-->

    </Console>

    <File name="appLog"
          fileName="${LOG_HOME}/${project.name}@${env:HOSTNAME}/app.log"
          filePattern="${LOG_HOME}/${project.name}/%d{yyyy-MM-dd}.log"
          append="true">
        <ThresholdFilter level="${logger.level}" onMatch="ACCEPT" onMismatch="DENY"/>
        <PatternLayout
                pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level [%thread] %logger{15}.%line - %msg%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        </Policies>
        <DefaultRolloverStrategy max="14"/>
    </File>

</Appenders>

<Loggers>
    <!--3rdparty Loggers-->
    <asyncLogger name="org.apache" level="ERROR"></asyncLogger>
    <asyncLogger name="io.netty" level="ERROR"></asyncLogger>
    <asyncLogger name="io.vertx" level="ERROR"></asyncLogger>
    <asyncLogger name="java.sql" level="ERROR"></asyncLogger>
    <asyncLogger name="com.alibaba.druid" level="ERROR"></asyncLogger>
    <asyncLogger name="com.navercorp.pinpoint" level="ERROR"></asyncLogger>

    <asyncLogger name="com.kaitusoft.ratel.core.model.AccessLog" level="ALL">
        <!--<appender-ref ref="accessLog"/>-->
    </asyncLogger>

    <asyncRoot level="${logger.level}" includeLocation="true">
        <appender-ref ref="appLog" />
        <appender-ref ref="Console"/>
    </asyncRoot>


</Loggers>
</Configuration>